<!--
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<div class="header">
    <div class="frase">Te ayudamos a tomar<br> mejores decisiones</div>
    <img src="color_logo_transparent1.png" alt="Logo" class="logo">
  </div>
-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

<div class="flex justify-between items-center h-[600px] md:h-[400px] lg:h-[500px] p-4 md:p-8 lg:px-10" style="background: radial-gradient(circle at left, #400140, #400140, white, white);" id="inicio">
  <!-- Frase -->
  <div class="text-white font-bold text-2xl sm:text-4xl lg:text-5xl xl:text-6xl leading-tight font-poppins">
    Te ayudamos a tomar<br> mejores decisiones
  </div>
  
  <!-- Logo -->
  <img src="color_logo_transparent1.png" alt="Logo" class="h-[150px] sm:h-[200px] md:h-[300px] lg:h-[400px] xl:h-[500px] w-auto self-right pr-4 sm:pr-6 lg:pr-10">
</div>
