<h1 class="titulo"id="nosotros">¿Quiénes somos?</h1>

<div class="container" >
    <img src="junta2.jpg" alt="imagen_met" class="imagen-principal shadow-2xl transform hover:scale-105 transition duration-300">
    <div class="lista-imagenes">
        <div class="item">
            <div class="texto">
                <p class="texto">
                    Somos una plataforma para la investigación cualitativa y
                    cuantitativa en TI y ciencias sociales. Amigable, ilustrativa, su
                    capacidad de almacenar, analizar y consultar datos nos hace
                    su mejor elección hacia el éxito.
                    <br> <br>
                    Experimente nuestro reporteador, desde los indicadores
                    básicos hasta los gráficas gerenciales y proyeccion de datos.
                </p>

            </div>

        </div>

    </div>


</div>