<a href="#" class="flex flex-col items-center bg-lila-claro border border-gray-200 rounded-lg shadow-lg md:flex-row md:max-w-xl hover:bg-lila">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="logo_java.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-black">Nombre del curso</h5>
        <p class="mb-3 font-normal text-black dark:text-black">Número de preguntas / cantidad de horas</p>
        <p class="mb-3 font-normal text-black dark:text-black">Número de videos</p>
    </div>
</a>