<div class="services-container" id="servicios">
    <h2>Servicios</h2>
    <div class="services-list">
      <div class="service-item">
        <div class="service-icon">
          <!-- Aquí puedes agregar la imagen o ícono correspondiente ALI  -->
          <img src="tienda-del-mercado.png" alt="Estudios de mercado" class="transform hover:scale-105 transition duration-300">
        </div>
        <h3>Estudios de mercado</h3>
      </div>
      <div class="service-item">
        <div class="service-icon2">
          <img src="confianza-en-el-apreton-de-manos.png" alt="Clima laboral" class="transform hover:scale-105 transition duration-300">
        </div>
        <h3>Clima laboral</h3>
      </div>
      <div class="service-item">
        <div class="service-icon3">
          <img src="pulgar-arriba-confianza.png" alt="Satisfacción al cliente" class="transform hover:scale-105 transition duration-300">
        </div>
        <h3>Satisfacción al cliente</h3>
      </div>
      <div class="service-item">
        <div class="service-icon">
          <img src="responsabilidad.png" alt="Capacitación" class="transform hover:scale-105 transition duration-300">
        </div>
        <h3>Capacitación</h3>
      </div>
      <div class="service-item">
        <div class="service-icon2">
          <img src="estrella-del-calendario.png" alt="Eventos" class="transform hover:scale-105 transition duration-300">
        </div>
        <h3>Eventos</h3>
      </div>
    </div>
    <p><br>
      <br>
Administre múltiples usuarios y obtenga visibilidad de todos los datos de
 evaluaciones recopilados en su </p>
<p>organización con controles de administración y
  paneles.</p>
<br>
<p>Asegúrese de que los datos confidenciales estén protegidos con seguridad mejorada
    que incluye cifrado.</p>
<br>
<p>
Automatice los comentarios y hágalos prácticos conectándose a sistemas
comerciales clave mediante
    </p>
<p>API e integraciones potentes.</p>
<br>
<br>
  </div>